.bar-chart {
  background: #fff;
  height: 4rem;
  margin-bottom: 4rem;
}

.bar-chart .bar-chart--text {
  font-size: 18px;
}

.bar-chart .bar-chart--inner {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: .3rem;
  position: relative;
  will-change: width;
}
.bar-chart .bar-chart--inner:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 1rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}